@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    height: 900px;
    background: #2B2D36;
}
img{
    width: 100%;
}
section h2{
    color: aliceblue;
    font-size: 3em;
    letter-spacing: 4px;
    font-weight: 300;
    top: 40%;
    text-align: center;
    position: absolute;
    width: 100%;
}